@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,500&family=Roboto:wght@300;400;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Roboto', sans-serif; */

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
